In [61]:
# https://www.analyticsvidhya.com/blog/2021/01/a-guide-to-the-naive-bayes-algorithm/

In [56]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report

In [49]:
dataset = pd.read_csv('https://raw.githubusercontent.com/amankharwal/Website-data/master/social.csv')

In [65]:
dataset

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [50]:
X = dataset.iloc[:, :-1].values # selects all rows and all columns except the last column, which contains the dependent variable. 
y = dataset.iloc[:, -1].values # selects all rows and only the last column, which contains the dependent variable.

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

In [59]:
X_train.shape, y_train.shape

((320, 2), (320,))

In [60]:
dataset.columns

Index(['Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [68]:
dataset.describe()

              Age  EstimatedSalary   Purchased
count  400.000000       400.000000  400.000000
mean    37.655000     69742.500000    0.357500
std     10.482877     34096.960282    0.479864
min     18.000000     15000.000000    0.000000
25%     29.750000     43000.000000    0.000000
50%     37.000000     70000.000000    0.000000
75%     46.000000     88000.000000    1.000000
max     60.000000    150000.000000    1.000000

In [52]:
sc = StandardScaler()  
x_train_sc = sc.fit_transform(X_train)  
x_test_sc = sc.transform(X_test)

In [53]:
classifier = GaussianNB()
classifier.fit(x_train_sc, y_train)

GaussianNB()

In [54]:
y_pred = classifier.predict(x_test_sc)

In [55]:
cm = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(cm)
print("Accuracy:", accuracy_score(y_test, y_pred))

Confusion Matrix:
[[55  3]
 [ 4 18]]
Accuracy: 0.9125

In [57]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.93      0.95      0.94        58
           1       0.86      0.82      0.84        22

    accuracy                           0.91        80
   macro avg       0.89      0.88      0.89        80
weighted avg       0.91      0.91      0.91        80